html{
	background-color:#2F2F2F;
}

body{
	/* height: 100%; */
	background-color:rgb(245, 245, 245);
	overflow:scroll;
}


#mainWrapper {
	height: 100%;
	background-image: -webkit-gradient(
	linear,
	right bottom,
	right top,
	color-stop(0, #EDEDED),
	color-stop(0.08, #EAEAEA),
	color-stop(1, #2F2F2F),
	color-stop(1, #AAAAAA)
);
background-image: -o-linear-gradient(top, #EDEDED 0%, #EAEAEA 8%, #2F2F2F 100%, #AAAAAA 100%);
background-image: -moz-linear-gradient(top, #EDEDED 0%, #EAEAEA 8%, #2F2F2F 100%, #AAAAAA 100%);
background-image: -webkit-linear-gradient(top, #EDEDED 0%, #EAEAEA 8%, #2F2F2F 100%, #AAAAAA 100%);
background-image: -ms-linear-gradient(top, #EDEDED 0%, #EAEAEA 8%, #2F2F2F 100%, #AAAAAA 100%);
background-image: linear-gradient(to top, #EDEDED 0%, #EAEAEA 8%, #2F2F2F 100%, #AAAAAA 100%);
}

.floatRight{
	float:right;
	margin-right: 18px;
}

.has-error{
	color:red;
}

.generic-container {
  /* position:fixed; */
  width:100%;
  /* margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px; */
  padding: 20px;
  /* background-color: #EAE7E7;
  border: 1px solid #ddd;
   *//* border-radius: 4px;
  box-shadow: 0 0 30px black; */
}

.custom-width {
    width: 80px !important;
}

body, #mainWrapper, .form-control{
	font-size:12px!important;
}

#mainWrapper {
	/*height: 720px; Without explicit px values, % in children's does not work*/
	height: 100vh; /*with Viewport-Percentage, we can handles all devices screens  */
	padding-left:10px;
	padding-right:10px;
	padding-bottom:10px;
}

.login-container {
    margin-top: 100px;
    background-color: floralwhite;
    width: 40%;
    left: 30%;
    position: absolute;
}

.login-card {
    width: 80%;
    margin: auto;
}

.login-form {
    padding: 10%;
}

.authbar{
	margin-bottom:15px;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

 table#summaryTable th:not(:first-child){
	text-align: center;
} 
.timeRecordingWrapper tbody td:not(:first-child), 
.timeRecordingWrapper thead th:not(:first-child){
	text-align: center;
	vertical-align: middle;
}
.timeRecordingWrapper td:first-child { width: 15% ;}
.inline-input-class{
	max-width: 50px;
}
.weekendDay{
	background: rgba(249, 192, 168, 0.62);
}
.modal-dialog{
	margin-top: 10%;
}
.hiddenWhenCollaped{
	display: none;
}
body.modal-open .modal-dialog {
	width: 990px;
}

body.modal-open .modal-body {
	max-height: 550px;
	overflow-y: auto;
}

.projectName {
    max-width: 270px;
    white-space: normal !important;
}
table.dataTable {
    border-collapse: collapse !important;
}
input#customerNameDropDown{
    background-color: white;
}

ul.es-list > li.es-visible{
    border: none;
}
